@font-face {
  font-family: 'WORKSHOP Marker';
  src: local('WORKSHOP Marker'), local('WORKSHOP-Marker'),
  url('../fonts/WORKSHOP Marker.ttf') format('truetype'),
  url('../fonts/WORKSHOPMarker.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}