.footer {
  background: #95B544;
  @include white;
  font-size: 16px;

  &_top {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .footer_links {
      display: flex;
      margin-bottom: 30px;
      flex-direction: column;
      gap: 20px;
      a {
        text-decoration: none;
        @include white;
        @include bold;
        display: block;
        margin-top: 5px;
      }
    }

    .footer_social {
      display: flex;
      gap: 19.5px;

      a {
        height: 40px;
        display: block;
        text-decoration: none;
      }
    }

    .footer_title {
      display: block;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .footer_title--menu {
      padding-left: 3.5px;
    }

    .footer_menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      a {
        text-decoration: none;
        @include white;
      }
    }
  }

  p {
    white-space: pre-line;
    margin: 0;
  }

  &_bottom {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}